{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Список товаров</h1>
        <a href="{{ url_for('create_item') }}" class="btn btn-dark">Создать товар</a> <!-- Кнопка сбоку от заголовка -->
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3"> <!-- Используем классы для сетки -->
        {% for album in values %}
            <div class="col">
                <div class="card h-100"> <!-- Класс h-100 для одинаковой высоты карточек -->
                    <img src="{{ url_for('get_image', md5=album[3], mime=album[2]) }}" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <h3 class="card-title">{{ album[0] }}</h3> <!-- Название товара -->
                        <p class="card-text">{{ album[1] }}</p> <!-- Описание товара -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
